<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Редактирование данных</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 223, 196);
        align-items: center;
      }
      .btn {
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: white;
        margin: 5px 0;
      }

      .btn:hover {
        background-color: #55d582;
        color: black;
        transition-duration: 0.3s;
      }
    </style>
  </head>
  <body>
    <div>
      <blockquote class="blockquote text-center">
        <h1>Редактирование спектаклей</h1>
      </blockquote>
      <div class="row">
        <div class="col-md-8 offset-md-4">
          <form
            action="#"
            th:action="@{/save}"
            th:object="${play}"
            method="post"
          >
            <table>
              <tr>
                <td>* ID не редактируется</td>
              </tr>
              <tr>
                <td>Название:</td>
                <td>
                  <input
                    placeholder="Название"
                    type="text"
                    th:field="*{name}"
                  />
                </td>
              </tr>
              <tr>
                <td>Название коллектива:</td>
                <td>
                  <input
                    placeholder="Название коллектива"
                    type="text"
                    th:field="*{troupe}"
                  />
                </td>
              </tr>
              <tr>
                <td>Дата:</td>
                <td>
                  <input placeholder="Дата" type="text" th:field="*{date}" />
                </td>
              </tr>
              <tr>
                <td>Всего билетов:</td>
                <td>
                  <input
                    placeholder="Всего билетов"
                    type="text"
                    th:field="*{total_tickets}"
                  />
                </td>
              </tr>
              <tr>
                <td>Доступные билеты:</td>
                <td>
                  <input
                    placeholder="Доступные билеты"
                    type="text"
                    th:field="*{free_tickets}"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    data-toggle="button"
                    aria-pressed="false"
                    autocomplete="off"
                  >
                    Отправить
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
